.hub {
  margin-top: 2rem;
  /* max-height: 85.875rem; */
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
  /* gap: 5rem; */
}

.hub__cards {
  margin-top: 5.5rem;
  max-width: 100%;
  display: flex;
  gap: 3rem;
}

.hub_btns {
  margin-top: 4.625rem;
  display: flex;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .hub{
    align-items: center;
    margin-top: 0;
    padding: 2.5rem 2rem;
  }

  .hub__cards{
    margin-top: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hub_btns{
    margin-top: 2.25rem;
  }
}

/* @media (max-width:768px) {
  .hub__cards{
    flex-wrap: wrap;
  }
} */