.hero {
  height: 100%;
  min-height: 51.5rem;
  padding: 5.625rem 5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: var(--color-gray);
}

.hero__content {
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
}

.hero__features {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.hero__action{
  display: flex;
  gap: 1rem;
}

.hero_img{
  max-width: 37.5rem;
  max-height: 37.5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius);
}