.hero {
  margin-top: 2rem;
  padding: 5.625rem 5rem;
  position: relative;
  display: flex;
  gap: 5rem;
  background-color: var(--color-gray);
}

.hero__content {
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2.5rem;
}

.hero__features {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.hero__action{
  display: flex;
}

.hero_img{
  max-width: 47%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero{
    padding: 2.5rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .hero__content{
    align-items: center;
  }

  .hero__features{
    width: 85%;
  }

  .hero_img{
    max-width: 85%;
  }
}