.contact {
  background-color: var(--color-gray);
  padding: 5.625rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.contact__content {
  height: 100%;
  max-height: 59.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.contact__cards{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact__block {
  max-width: 37.5rem;
  max-height: 40.625rem;
  margin-top: 17rem;
  display: flex;
  align-items: flex-end;
}

.contact_img {
  width: 100%;
  aspect-ratio: 1 / 0.75;
  border-radius: var(--radius);
  object-fit: cover;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .contact {
    margin-top: 0;
    padding: 2.75rem 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .contact__content{
    align-items: center;
  }

  .contact__cards{
    width: 85%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact__block {
    height: 208px;
  }
}

/* @media (max-width:768px) {
  .contact__block{
    height: 48px;
  }
} */
@media (max-width:425px) {
  .contact__block{
    height: 0px;
  }
}