.proof {
  margin-top: 1rem;
  padding: 5.625rem 5rem;
  display: flex;
  gap: 5rem;
  background-color: var(--color-gray);
}
.proof__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.proof__stats {
  display: flex;
  gap: 1rem;
}
.proof__nav{
  display: flex;
  gap: 1rem;
}