.intro {
  /* margin-top: 2rem; */
  padding: 5.625rem 5rem;
  display: flex;
  gap: 5rem;
  background-color: var(--color-gray);
}

.intro__container {
  max-width: 37.5rem;
  /* margin-top: 3.125rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.intro__btns {
  display: flex;
}

.intro__img {
  max-width: 47%;
  aspect-ratio: 1 / 1;
  margin-top: 1rem;
  object-fit: cover;
  border-radius: var(--radius);
}

@media (min-width: 0px) and (max-width: 1024px) {
  .intro{
    margin-top: 0;
    padding: 2.5rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .intro__container{
    align-items: center;
    margin-top: 1.5rem;
  }
  
  .intro__img{
    max-width: 85%;
  }
}