.header_hidden{
    display: none;
}

.header {
    max-width: 90rem; 
    max-height: 4.25rem;
    padding: 0.875rem 1.5rem;
    background-color: var(--color-light);
    position: sticky;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header__left {
    list-style: none;
    max-width: 60.5rem;
    max-height: 1.1875rem;
    display: flex;
    gap: 2.2rem;
    padding-left: 0.625rem;
}

.header__right {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 14rem;
}

@media (max-width:768px) {
    .header_hidden{
        display: flex;
        justify-content: space-evenly;
        margin: 0.5rem;
        font-size: 1rem;
        color: var(--color-dark);
        background-color: white;
        border: none;
    }

    .header_txt{
      font-family: var(--font-family-title);
        font-size: 1rem;
        font-weight: 700;
        line-height: 160%;
    }

    .header_btn{
        background-color: inherit;
    }

    .header{
        display: none;
        position: fixed;
        z-index: 10;
        background-color: rgba(241, 222, 222, 0.8);
        color: cadetblue;
    }

    .header.header--active {
        display: flex;
    }
}

