/* <---------------------------------- FONTS ----------------------------------> */
@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter24pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter24pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* <----------------------------------------------- ROOTS -----------------------------------------------> */
:root{
  --color-light: #FFFFFF;
  --color-dark: #000000 ;
  --color-gray: #F9F8FE ;
  --color-gray-txt: #676767 ;

  --radius: 8px;

  --font-family-accent: 'Inter', 'sans-serif';
  --font-family-title: 'Montserrat', 'sans-serif';
  --font-family-base: 'Poppins', 'sans-serif';
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 90rem;
}
.main{
  max-width: 100%;
}




.hero {
  height: 100%;
  min-height: 51.5rem;
  padding: 5.625rem 5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: var(--color-gray);
}
.hero__content {
  max-width: 37.5rem;
  max-height: 38.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2.5rem;
}
.hero__lifeStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.hero__moto {
  max-width: 8rem;
  max-height: 2rem;
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}
.hero__title {
  max-width: 37.5rem;
  max-height: 8.75rem;
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.hero__desc {
  max-width: 37.5rem;
  max-height: 5.625rem;
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.hero__features {
  display: flex;
  gap: 1rem;
}
.hero__feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero__feature__title {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
}
.hero__feature__desc {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.hero__action{
  display: flex;
  gap: 1rem;
}
.hero__btn{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-gray);
  border: 1px solid black;
  border-radius: var(--radius);
  cursor: pointer;

  &:hover {
    transition: ease 0.8s;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.hero__btn__arrow{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  background-color: var(--color-gray);
  cursor: pointer;
}
.hero_img{
  max-width: 37.5rem;
  max-height: 37.5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius);
}


.hub {
  max-height: 85.875rem;
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
}
.hub__content {
  max-width: 53rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hub__moto {
  font-family: var(--font-family-base);
  font-size: 1.125rem;    
  font-weight: 500;
  line-height: 150%;
}
.hub__head {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.hub__body {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.hub__cards {
  margin-top: 5.5rem;
  display: flex;
  gap: 3rem;
}
.hub__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.2rem;
  width: 24.6875rem;
  height: 21.625rem;
}
.hub__img{
  max-width: 24.625rem;
  max-height: 13.875rem;
  object-fit: cover;
  border-radius: var(--radius);
}
.hub__title {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
}
.hub__desc {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.hub_btns {
  margin-top: 4.625rem;
  display: flex;
  gap: 1rem;
}
.hub__btn {
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  max-width: 4.8125rem;
  max-height: 2.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-gray);
  border: 1px solid black;
  border-radius: var(--radius);
  cursor: pointer;

  &:hover {
    transition: ease 0.8s;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.hub__btn__arrow{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  height: 2.5rem;
  background-color: var(--color-light);
  cursor: pointer;
}


.intro {
  padding: 5.625rem 5rem;
  background-color: var(--color-gray);
  display: flex;
  align-items:center;
  gap: 5rem;
}
.intro__container {
  max-width: 37.5rem;
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
}
.intro__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro__moto {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}
.intro__title {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.intro__desc {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.intro__btns {
  display: flex;
  gap: 1rem;
}
.intro__btn {
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  max-width: 7.875rem;
  max-height: 2.5rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-gray);

  &:hover {
    transition: ease 0.8s;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.intro__btn_arrow{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  max-height: 2.5rem;
  background-color: var(--color-gray);
  cursor: pointer;
}
.intro__img {
  width: 100%;
  height: 100%;
  max-width: 37.5rem;
  max-height: 37.5rem;
  aspect-ratio: 1 / 1;
  margin-top: 3rem;
  object-fit: cover;
  border-radius: var(--radius);
}


.benefits {
  max-height: 54.6875rem;
  margin-top: 1rem;
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.benefits__header {
  max-width: 78rem;
  max-height: 8.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.benefits__cards {
  display: flex;
  gap: 3rem;
}
.benefits__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.benefits__img {
  max-height: 243px;
  max-width: 395px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius);
}
.benefits__title {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
  text-align: center;
}
.benefits__desc {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}
.benefits__btn_arrow {
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  background-color: var(--color-light);
  cursor: pointer;
}


.proof {
  margin-top: 1rem;
  padding: 5.625rem 5rem;
  display: flex;
  gap: 5rem;
  background-color: var(--color-gray);
}
.proof__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.proof__head {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
.proof__title {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.proof__desc {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.proof__stats {
  display: flex;
  gap: 1rem;
}
.proof__card {
  max-width: 18.125rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.proof__percent {
  font-family: var(--font-family-base);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 160%;
}
.proof__details {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.proof__nav{
  display: flex;
  gap: 1rem;
}
.proof__btn {
  max-width: 7.8125rem;
  max-height: 2.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius);
  border: 1px solid var(--color-dark);
  background-color: var(--color-gray);
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;

  &:hover {
    transition: ease 0.8s;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.proof__btn__arrow {
  height: 2.5rem;
  background-color: var(--color-gray);
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
}
.proof__img {
  max-width: 37.5rem;
  max-height: 37.5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius);
}


.newsletter {
  margin-top: 1rem;
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}
.newsletter__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.newsletter__title {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.newsletter__desc {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.newsletter__form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.newsletter__nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.newsletter__inp {
  flex-grow: 1;
  max-width: 23.3125rem;
  max-height: 2.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-dark);
  border-radius: var(--radius);
}
.newsletter__btn {
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius);
  border: 1px solid var(--color-dark);
  background-color: var(--color-light);
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;

  &:hover {
    transition: ease 0.8s;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.newsletter__details {
  color: var(--color-gray-txt);
  font-family: var(--font-family-base);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
}


.contact {
  background-color: var(--color-gray);
  margin-top: 2.125rem;
  padding: 5.625rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.contact__content {
  height: 100%;
  max-height: 59.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
.contact__head {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.contact_desc {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}
.contact_title {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.contact_details {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.contact__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.contact__card_img{
  width: 2rem;
  height: 2rem;
}
.contact_type {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
}
.contact_text {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.contact__office{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 1rem;
}
.contact__office_head{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact_btn {
  background-color: var(--color-gray);
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 160%;
  cursor: pointer;
}
.contact__block {
  max-width: 37.5rem;
  max-height: 40.625rem;
  margin-top: 17rem;
  display: flex;
  align-items: flex-end;
}
.contact_img {
  width: 100%;
  aspect-ratio: 1 / 0.75;
  border-radius: var(--radius);
  object-fit: cover;
}


.footer {
  margin-top: 6.875rem;
  padding: 5.625rem 5rem;
  background-color: var(--color-gray);
  display: flex;
  gap: 5rem;
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer_head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer_title{
  font-family: var(--font-family-title);
  font-size: 2rem;
  font-weight: 700;
  line-height: 128%;
}
.footer_desc{
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 126%;
}
.footer_bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__form{
  display: flex;
  gap: 1rem;
}
.footer_inp {
  max-width: 466px;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  padding-right: 16px;
  border: 1px solid black;
  border-radius: var(--radius);
}
.footer_btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-dark);
  border-radius: var(--radius);
  background-color: inherit;
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;

  &:hover{
    transition: ease 0.8s;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.footer_details {
  color: var(--color-gray-txt);
  font-family: var(--font-family-base);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
}
.footer__right {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5.125rem;
}
.footer__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__ul_title {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
}
.footer_li {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.footer__media_block{
  display: flex;
  gap: 0.5rem;
}
.footer_img {
  width: 1.5rem;
  height: 1.5rem;
}

