/* <---------------------------------- FONTS ----------------------------------> */
@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter24pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter24pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* <----------------------------------------------- ROOTS -----------------------------------------------> */
:root{
  --color-light: #FFFFFF;
  --color-dark: #000000 ;
  --color-gray: #F9F8FE ;
  --color-gray-txt: #676767 ;

  --radius: 8px;

  --font-family-accent: 'Inter', 'sans-serif';
  --font-family-title: 'Montserrat', 'sans-serif';
  --font-family-base: 'Poppins', 'sans-serif';
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 90rem;
}
.main{
  max-width: 100%;
}














