/* <---------------------------------- FONTS ----------------------------------> */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter24pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter24pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* <----------------------------------------------- ROOTS -----------------------------------------------> */
:root{
  --color-light: #FFFFFF;
  --color-dark: #000000 ;
  --color-gray: #F9F8FE ;
  --color-gray-txt: #676767 ;

  --radius: 8px;

  --font-family-accent: 'Inter', 'sans-serif';
  --font-family-title: 'Montserrat', 'sans-serif';
  --font-family-base: 'Poppins', 'sans-serif';
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 90rem;
}
.btn{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-dark);
  background-color: var(--color-light);
  cursor: pointer;
  border-radius: var(--radius);
  border: 1px solid black;
}
.header {
  width: 90rem;
  height: 4.25rem;
  padding: 0.875rem 1.5rem;
  background-color: var(--color-light);
  position: sticky;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header__left {
  width: 60.5rem;
  height: 1.1875rem;
  display: flex;
  gap: 2rem;
  padding-left: 0.625rem;
}
.header__btn {
  color: var(--color-dark);
  background-color: #fff;
  font-family: var(--font-family-accent);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  width: 14rem;
}
.header__right_btn{
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 1.5rem;
  height: 2.5rem;
}
.main{
  width: 100%;
}
.welcome {
  width: 100%;
  position: relative;
  z-index: 7;
  display: flex;
  flex-direction: column;
  gap: 4.625rem;
  margin-top: -25.8rem;
  padding-bottom: 4.375rem;
  background-color: var(--color-light);
}
.welcome__img{
  width: 100%;
  height: 62.75rem;
  object-fit: cover;
}
.welcome__content {
  width: 80rem;
  height: 9.4375rem;
  margin-left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome__title {
  width: 37.5rem;
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.welcome__info {
  width: 37.5rem;
  height: 7.375rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.welcome__description {
  width: 35rem;
  height: 3.375rem;
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.welcome__actions {
  display: flex;
  gap: 0.6875rem;
}
.welcome__btn {
  width: 6.25rem;
  height: 2.5rem;
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
}
.welcome__btn:hover {
  transition: ease 0.5s;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.hero {
  height: 51.5rem;
  padding: 5.625rem 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: var(--color-gray);
}
.hero__content {
  width: 37.5rem;
  height: 38.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 3rem;
}
.hero__lifeStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.hero__moto {
  width: 8rem;
  height: 2rem;
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}
.hero__title {
  width: 37.5rem;
  height: 8.75rem;
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.hero__desc {
  width: 37.5rem;
  height: 5.625rem;
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.hero__features {
  display: flex;
  gap: 1.5rem;
}
.hero__feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero__feature__title {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
}
.hero__feature__desc {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.hero__action{
  display: flex;
  gap: 1rem;
}
.hero__btn{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  width: 7.8125rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-gray);
  border: 1px solid black;
  border-radius: var(--radius);
  cursor: pointer;
}
.hero__btn:hover {
  transition: ease 0.5s;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.hero__btn__arrow{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  /* width: 7rem; */
  height: 2.5rem;
  padding: 0.5rem;
  background-color: var(--color-gray);
  cursor: pointer;
}
.hero_img > img{
  width: 37.5rem;
  height: 37.5rem;
  object-fit: cover;
  border-radius: var(--radius);
}
.hub {
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.hub__content {
  width: 53rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hub__moto {
  font-family: var(--font-family-base);
  font-size: 1.125rem;    
  font-weight: 500;
  line-height: 150%;
}
.hub__head {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.hub__body {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.hub__cards {
  display: flex;
  gap: 3rem;
}
.hub__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 24.6875rem;
  height: 21.625rem;
}
.hub__img{
  width: 100%;
  height: 13.875rem;
  object-fit: cover;
  border-radius: var(--radius);
}
.hub__title {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
}
.hub__desc {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.hub_btns {
  display: flex;
  gap: 1rem;
}
.hub__btn {
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  width: 4.8125rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-gray);
  border: 1px solid black;
  border-radius: var(--radius);
  cursor: pointer;
}
.hub__btn:hover{
  transition: ease 0.5s;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.hub__btn__arrow{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  /* width: 7rem; */
  height: 2.5rem;
  background-color: var(--color-light);
  cursor: pointer;
}
.intro {
  padding: 5.625rem 5rem;
  background-color: var(--color-gray);
  display: flex;
  gap: 5rem;
}
.intro__container {
  width: 37.5rem;
  height: 38.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
}
.intro__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro__moto {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}
.intro__title {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.intro__desc {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.intro__btns {
  display: flex;
  gap: 1rem;
}

.intro__btn {
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  width: 7.875rem;
  height: 2.5rem;
  background-color: var(--color-gray);
}
.intro__btn:hover{
  transition: ease 0.8s;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.intro__btn_arrow{
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  /* width: 5.5rem; */
  height: 2.5rem;
  background-color: var(--color-gray);
  cursor: pointer;
}
.intro__img {
  width: 37.5rem;
  height: 37.5rem;
  object-fit: cover;
  border-radius: var(--radius);
}
.benefits {
  height: 54.6875rem;
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.benefits__header {
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.benefits__cards {
  display: flex;
  gap: 3rem;
}
.benefits__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.benefits__img {
  height: 243px;
  width: 395px;
  object-fit: cover;
  border-radius: var(--radius);
}
.benefits__title {
  font-family: var(--font-family-base);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 160%;
}
.benefits__desc {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.benefits__btn_arrow {
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  background-color: var(--color-light);
}
.proof {
  width: 100%;
  height: 51.5rem;
  padding: 5.625rem 5rem;
  display: flex;
  gap: 5rem;
  background-color: var(--color-gray);
}
.proof__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.proof__head {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
.proof__title {
  font-family: var(--font-family-title);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 128%;
}
.proof__desc {
  font-family: var(--font-family-base);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.proof__stats {
  display: flex;
  gap: 1rem;
}
.proof__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.proof__percent {
  font-family: var(--font-family-base);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 160%;
}
.proof__details {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.proof__nav{
  display: flex;
  gap: 1rem;
}
.proof__btn {
  width: 7.8125rem;
  height: 2.5rem;
  border-radius: var(--radius);
  border: 1px solid var(--color-dark);
  background-color: var(--color-gray);
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
}
.proof__btn:hover{
  transition: ease 0.8s;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.proof__btn__arrow {
  height: 2.5rem;
  background-color: var(--color-gray);
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
}
.proof__img {
  width: 37.5rem;
  height: 37.5rem;
  object-fit: cover;
  border-radius: var(--radius);
}

