.newsletter {
  margin-top: 1rem;
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .newsletter{
    padding: 2.5rem 2rem;
    gap: 2rem;
  }
}